.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 0.2rem 0.7rem;
}

.taskWrap {
  margin: 30px auto;
  padding: 40px;
  width: 600px;
  border: 1px solid rgba(60, 60, 60, 0.47);
}

.headTitle {
  margin: 30px auto;
  background-color: #c3fa68;
  color: #376469;
}